{
  "semi": false,
  "overrides": [
    {
      "files": ["*.ts", "*.js", "*.json", "*.scss"],
      "options": {
        "semi": true,
        "tabWidth": 2,
        "printWidth": 80,
        "trailingComma": "es5"
      }
    }
  ]
}
